
body{
    background-color: black;
}

.grid-container {
    display: grid;
    /* background-color: brown; */
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    justify-content: center;
}

.acceso {
    margin: 10px;
    } 

img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    
}

h1{
    color: red;
}